@import '../../node_modules/bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
	background: url(/images/header2.png) no-repeat;
	background-size: contain;
	background-position: center;
	max-height: 744px;
	height: 100%;
}
.navbar{
	padding-top: 130px;
}
.link-t{
	padding-top: 540px;
}
.card{
	background-color: rgb(244,236,220);
	width: 25rem;
}
.card-title{
	font-size: 18pt;
}
.card-text{
	font-size: 11pt;
}
.btn-color{
	background-color:rgb(182 143 34);
	color: white;
}
span{
	color:rgb(182 143 34);
}

@media (max-width: 1400px) {
	.navbar{
		padding-top: 110px;
	}
	.link-t{
		padding-top: 500px;
	}
	
}
@media (max-width: 1200px) {
	.navbar{
		padding-top: 95px;
	}
	.link-t{
		padding-top: 416px;
	}
	
}
@media (max-width: 990px) {
	.navbar{
		padding-top: 56px;
	}
	.link-t{
		padding-top: 319px;
	}
	
}

@media (max-width: 768px) {
	.navbar{
		padding-top: 37px;
	}
	.link-t{
		padding-top: 227px;
	}
	
}

@media (max-width: 412px) {
	.navbar{
		padding-top: 10px;
	}
	.link-t{
		padding-top: 172px;
	}
	
}