<div class="container mt-4">
	<footer class="footer">
		<div class="row">
			<div class="col-2 text-center">
				<a class="navbar-brand" href="#"><img src="/images/svg/logoFemily.svg" alt="logoFemily" width="100" height="100%"></a>
			</div>
			<div class="col-4">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Активная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Ссылка</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Ссылка</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled">Отключенная</a>
					</li>
				</ul>
			</div>
			<div class="col-4">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Активная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Ссылка</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Ссылка</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled">Отключенная</a>
					</li>
				</ul>
			</div>
			<div class="col-2">
				<div class="row"><a href=""><img class="logo-social" src="/images/svg/telegram-logo.svg" alt="Telegram"></a></div>
				<div class="row"><a href=""><img class="logo-social" src="/images/svg/vk.svg" alt="ВКонтакте"></a></div>
				<div class="row"><a href=""><img class="logo-social" src="/images/svg/rutube-sign-logo.svg" alt="Rutube"></a></div>
			</div>
		</div>
	</footer>
</div>

<script src="js/main.min.js"></script>
</body>
</html>