<div class="container mt-4">
	<footer class="footer">
		<div class="row">
			<div class="col-12 col-md-2 text-center mt-2">
				<a class="navbar-brand" href="#"><img src="/images/svg/logoFemily.svg" alt="logoFemily" width="100" height="100%"></a>
			</div>
			<div class="col-12 col-md-4 mt-md-5">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#abaut">О нас</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#project">Наши проекты</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#Educational">Образовательное направление</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-4 mt-md-5">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#news">Наши новости</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Наши партнеры</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#static8Backdrop">Обратная связь</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#donateModal">Помощь проекту</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-md-2 mt-md-5">
				<div class="row"><a href=""><img class="logo-social" src="/images/svg/telegram-logo.svg" alt="Telegram"></a></div>
				<div class="row"><a href=""><img class="logo-social" src="/images/svg/vk.svg" alt="ВКонтакте"></a></div>
				<div class="row"><a href=""><img class="logo-social" src="/images/svg/rutube-sign-logo.svg" alt="Rutube"></a></div>
			</div>
		</div>
	</footer>
</div>

<script src="js/main.min.js"></script>
</body>
</html>