<footer class="mt-lg-3" style="background-color: black; color: aliceblue;">
	<div class="container-xl">
		<div class="row">
			<div class="col-lg-4">
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-center m-4">
					СЕМЬЯ-РОССИЯ
				</a>
			</div>
			<div class="col-lg-8">
				<p>Развернотое меню</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-1">
				<img src="images/ico/icons8-map-marker-100.png"/>
			</div>
			<div class="col-lg-11">
				<h5>Адрес</h5>
				<p>Фактический и Юридический адрес</p>
			</div>
		</div>
	</div>
</footer>
<script src="js/main.min.js"></script>
</body>
</html>