<!-- Кнопка-триггер модального окна
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Запустить модальное окно со статическим фоном
</button> -->

<!-- Модальное окно -->
<div class="modal fade" id="static1Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Что такое Академия?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        АНО МЦ «Академия семейных ценностей» - светская организация, нацеленная на реализацию взаимодействия детей и родителей в трех поколениях благополучных семей – дедушки и бабушки, родители и дети на основании традиционных семейных ценностей, признания уникальности, свободы и значимости человеческой личности.
				Долгосрочный проект, нацеленный на научное изучение и формирование практических навыков семейного взаимодействия, эффективного взаимоотношения людей в настоящее время и в последующих поколениях.
				Цель: формирование нового типа традиционной семьи посредством изучения и сопровождения семейного взаимодействия на всех этапах органического круга существования с точки зрения признания значимости и уникальности человека.
				Задачи:
				<ol>
					<li>Научное изучение и обоснование семейного взаимодействия посредством формирования и верификации образовательных методик и программ, сбора и анализа данных, сотрудничества с научным сообществом и взаимодействия с образовательными учреждениями. 
</li>
					<li>Образовательная деятельность с семьями для формирования знаний, умений и навыков семейного взаимодействия посредством разработки, строи-тельства и сопровождения работы семейных образо-вательных центров и тематических парков.  
</li>
					<li>Реализация программ и проектов семейной направленности при участии представителей тради-ционных религий РФ. 
</li>
					<li>Содействие реализации национальных проектов Российской Федерации путем укрепления института традиционной семьи, взаимодействие с государст-венными органами, общественными организациями и другими заинтересованными сторонами;
</li>
					<li>Выявление и популяризация традиционных семейных ценностей, а также подлинного культурного, исторического и духовного наследия России, в том числе через деятельность СМИ и сотрудничество с деятелями искусства и кино;
</li>
					<li>Организация и проведение мероприятий, направ-ленных на укрепление семейных отношений, повышение родительской компетентности и пропа-ганду традиционных семейных ценностей; Профессиональное образование, подготовка кадров, преподавателей и специалистов в области семейного образования и взаимодействия.
</li>
				</ol>
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Закрыть</button>
        <!-- <button type="button" class="btn btn-color">Понял</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно 2 -->
<div class="modal fade" id="static2Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Какова наша главная цель?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
				<p>Долгосрочный проект, нацеленный на научное изучение и формирование практических навыков семейного взаимодействия, эффективного взаимоотношения людей в настоящее время и в последующих поколениях.</p>
				<p><span>Цель:</span>формирование нового типа традиционной семьи посредством изучения и сопровождения семейного взаимодействия на всех этапах органического круга существования с точки зрения признания значимости и уникальности человека.</p>
		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Закрыть</button>
        <!-- <button type="button" class="btn btn-color">Понял</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно 3 -->
<div class="modal fade" id="static3Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Почему это важно сегодня?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
				<p>Сегодня во многих семьях утрачивается самое главное — видение семьи как живого сообщества людей, где каждый — не просто функция, а уникальная личность. Поколения все чаще не слышат и не понимают друг друга, используют семью как средство решения своих задач, но не как пространство любви, принятия и поддержки. Это приводит к отчуждению, внутренней усталости, непониманию и даже разрушению семейных связей.
					<span>Проблема — в отсутствии целостного подхода к семье и размытие ролей в семье.</span>  
					Целостный подход — это когда:
					<ul>
						<li>каждый человек в семье значим на каждом этапе жизни: от зачатия до старости;</li>
						<li>учитываются его потребности, особенности, возраст, чувства и жизненные цели;</li>
						<li>семья рассматривается не как набор ролей, а как единый живой организм, где важен каждый.</li>
					</ul>
				</p>		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Закрыть</button>
        <!-- <button type="button" class="btn btn-color">Понял</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно 4 -->
<div class="modal fade" id="static4Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">«Семьи угощают»</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="">
							<img class="col-12" src="/images/modal/Families.jpg" alt="">
						</div>
					</div>
				</div>
				
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#static8Backdrop">Принять участие</button>
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Закрыть</button>
        <!-- <button type="button" class="btn btn-color">Понял</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно 5 -->
<div class="modal fade" id="static5Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">«Семейные центры»</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="">
							<img class="col-12" src="/images/modal/Family-centers.jpg" alt="">
						</div>
					</div>
				</div>
				
			</div>
      <div class="modal-footer">
        	<button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#static8Backdrop">Принять участие</button>
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Закрыть</button>
        <!-- <button type="button" class="btn btn-color">Понял</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно 6 -->
<div class="modal fade" id="static6Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">«Тематицеские семейные парки»</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="">
							<img class="col-12" src="/images/modal/Family-parks.jpg" alt="">
						</div>
					</div>
				</div>
				
			</div>
      <div class="modal-footer">
        	<button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#static8Backdrop">Принять участие</button>
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Закрыть</button>
        <!-- <button type="button" class="btn btn-color">Понял</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно 7 -->
<div class="modal fade" id="static7Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">«Семьи угощают»</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-3"><img src="/images/new/family/2.jpg" class="card-img-top" alt="..."></div>
						<div class="col-3"><img src="/images/new/family/3.jpg" class="card-img-top" alt="..."></div>
						<div class="col-3"><img src="/images/new/family/1.jpg" class="card-img-top" alt="..."></div>
						<div class="col-3"><img src="/images/new/family/6.jpg" class="card-img-top" alt="..."></div>
					</div>
					<div class="row">
						<div class="col-12">
							<p>
								Вы можете принять участие
							</p>
							<p>
								Или семья ивановых сегодня 
							</p>
						</div>
					</div>
				</div>
				
			</div>
      <div class="modal-footer">
				<button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#static8Backdrop">Принять участие</button>
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Закрыть</button>
       
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно 8 -->
<div class="modal fade" id="static8Backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Напиши нам</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
				<div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Адрес электронной почты</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Пример текстового поля</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
			</div>
      <div class="modal-footer">
				<button type="button" class="btn btn-color">Отправить</button>
        <button type="button" class="btn btn-color" data-bs-dismiss="modal">Закрыть</button>
       
      </div>
    </div>
  </div>
</div>